* {
  box-sizing: border-box;
}
html, body {
  position: relative;
  margin: 0;
  height: 2000px;
  scroll-behavior: smooth;
}

nav {
  padding-top: 20px !important;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 4rem !important;
  margin-bottom: 0;
  text-shadow: 0px 2px 4px #999;
}


#image {
  width: 100%;
  height: auto;
  min-height: 600px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("images/SummerSquash.png");
  z-index: 10;
}

 #style{
   font-size: 80px;
   color: black;
   text-align: center;
   position: fixed;
   width: 100%;
 }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: rgb(0,0,0);
  border: none !important;
}
.grid-container {
  display: grid;
}

.grid-container-footer {
  display: grid;
}

.grid-item {
    font-size: 30px;
    text-align: center;
    min-height: 340px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px #999;
    border-radius: 5px;
    background-color: #fff;
}

.land-container {
  text-align: center;
  margin-top: 50px;
}

.land-container img {
  width: 500px;
}

.summer-title {
  font-family: 'Damion';
  font-size: 4rem !important;
  color: #000;
  text-align: center;
    position: relative;
    top: -220px;
}

.stars-cont {
  text-align: center;
    position: relative;
    top: -200px;
}

.rated-text{
  display: inline-block;
   font-family: 'Nunito', sans-serif;
   font-size: 28px;
   font-weight: 900;
}

.rating-star {
  margin-top: -10px;
}

.gp-img {
  width: 175px;
  display: block;
    margin: auto;
    margin-top: 120px;
}

.bob-img {
  margin-top: 140px;
}

.star-img {
  width: 40px;
  padding-top: 20px;
    margin-left: 20px;
    float: left;
}

.platform-img {
    width: 140px;
    margin-top: 220px;
    margin-left: -20px;

}

.section-1{
  width: 100%;
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("images/BG.png");
}

.section-2{
  width: 100%;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("images/BG-2.png");
}

.text-cont > p {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  line-height: 28px;
    padding-top: 20px;
}

.nav-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #000 !important;
}

.footer {
  height: 350px;
   bottom: 0;
   width: 100%;
   color: #000;
}

.footer-title {
  padding-top: 20px;
  font-size: 50px;
  line-height: 68px;
  font-weight: 900;
}

.socials {
  padding-top: 10px;
}

.socials > a {
  padding-right: 30px;
}

.footer-title, .footer-desc {
  font-family: 'Nunito', sans-serif;
}

.footer-desc {
  font-size: 16px;
}

.mobile {
  display: none;
}

.desktop {
display: block;
}

@media (min-width: 768px) {
  .grid-container { grid-template-columns: repeat(3, 1fr);
  padding: 60px 30px;
   }
   .grid-container-footer { grid-template-columns: repeat(2, 1fr);
   padding: 10px 30px;
   }

   .footer-logo img {
    float: right;
    position: relative;
    top: 62%;
   }
}

@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr);
  padding: 60px 100px;
   }

   .grid-container-footer { grid-template-columns: repeat(2, 1fr);
   padding: 30px 110px;
   }

   .footer-logo img {
  float: right;
  position: relative;
    top: 78%;
}

.footer-title, .footer-desc {
  text-align: left;
}

.socials {
  float: left;
}

.footer-item {
  width: 275px;
  }

}

@media only screen and (max-width: 400px) {

h1 {
  font-size: 3rem !important;
  margin-bottom: 0;
  text-shadow: 0px 2px 4px #999;
}

.summer-title h1 {
  margin-top: 50px;
}
}

@media only screen and (max-width: 450px) {
h1 {
  font-size: 3.5rem !important;
}

.summer-title h1 {
  margin-top: 35px;
  }
}

@media only screen and (max-width: 767px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .land-container img {
  width: 100%;
}

.grid-container {
  padding: 60px 50px;
}

.grid-container-footer {
  padding: 30px 60px;
  width: 100%;
}

.footer-title, .footer-desc {
  text-align: center;
}

.footer-logo, .socials {
  text-align: center;
}

.footer-desc {
  padding: 0 40px;
}

.socials {
  padding-top: 0;
}

.footer-logo img {
  padding-top: 20px;
}

.footer-logo p {
  padding-top: 10px;
}

.socials > a {
    padding: 0 20px;
  }
}




