* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(fonts/AvenirNextLTPro-Bold.otf);
}

html {
  position: relative;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
    width: 100%;
}

body {
  background: -webkit-linear-gradient(to bottom, #fff, #ECCEE3) ;
background: -o-linear-gradient(to bottom, #fff, #ECCEE3);
background: linear-gradient(to bottom, #fff, #ECCEE3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
}



nav {
  padding-top: 20px !important;
}

p {
  font-family: 'Avenir Next', sans-serif;
  font-size: 10px;
}

h1 {
  margin-bottom: 0;
  text-shadow: 0px 2px 4px #999;
}


#image {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
/*  background-attachment: fixed;*/
  background-image: url("images/SummerSquash.png");
  z-index: 50;
}

 #style{
   font-size: 80px;
   color: black;
   text-align: center;
   position: fixed;
   width: 100%;
 }

 #animation, #animation-2  {
   position: relative;

 }

#summer-img {
  position: absolute;
       left: 45%;
    transform: translate(-50%, 0);
z-index: 500;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: rgb(0,0,0);
  border: none !important;
}
.grid-container {
  display: grid;
}


.grid-item {
    font-size: 30px;
    text-align: center;
    min-height: 340px;
    margin: 20px 10px;
    box-shadow: -8px 12px 11px 0px rgba(0,0,0,.05);
    border-radius: 8px;
    background-color: #fff;
}

.land-container {
  text-align: center;
}

.summer-title {
  font-family: 'Damion';
  font-size: 4rem !important;
  color: #000;
  text-align: center;
    position: relative;
    top: -220px;
}

.stars-cont {
  text-align: center;
    position: relative;
    top: -200px;
}

.rated-text{
  display: inline-block;
   font-family: 'Avenir Next Bold', sans-serif;
   font-size: 28px;
   margin-top: -150px !important;
   text-shadow: 0px 2px 4px #999;
}

.rating-star {
  margin-top: -10px;
  width: 40px;
  height: 40px;
}

.logo-img {
  width: 233px;
}

.footer-logo img {
  width: 160px;
}

.gp-img {
  width: 175px;
  display: block;
    margin: auto;
    margin-top: 120px;
}

.bob-img {
  margin-top: 140px;
}

.star-img, .star-img-fill {
  width: 40px;
  height: 40px;
  margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.star-img {
  background: url(images/Star.png) no-repeat;
}

.star-img-fill {
  background: url(images/Star-Fill.png) no-repeat;
}

.platform-img {
    width: 130px;
margin-top: 220px;
margin-left: -20px;

}

.section-2{
  width: 100%;
  min-height: 900px;
}

.text-cont > p {
  font-family: 'Avenir Next', sans-serif;
  font-size: 22px;
  line-height: 28px;
    padding-top: 20px;
}

.nav-link {
  font-family: 'Avenir Next', sans-serif;
  color: #000 !important;
  font-size: 16px;
  font-weight: 600;
}

.footer {
  height: 350px;
   bottom: 0;
   width: 100%;
   color: #000;
   background-color: #fff !important;
}

.footer-title {
  font-size: 45px;
  line-height: 61px;
}

.socials {
  padding-top: 10px;
}


.footer-title {
  font-family: Avenir Next Bold, sans-serif;
}

.footer-desc {
  font-size: 16px;
  font-family: Avenir Next, sans-serif;
}


.twitter, .instagram {
  padding-right: 20px;
}

@media (min-width: 500px) {
            .mobile {
  display: none;
}

.desktop {
display: block;
}
}

@media (min-width: 768px) {


  .grid-container { grid-template-columns: repeat(3, 1fr);
  padding: 60px 0px;
   }



  .section-1{
  width: 100%;
  height: 600px;
}

.platform-img {
  width: 135px;
    margin-left: -40px;
}
}


@media (min-width: 992px) {

    .grid-container-footer { grid-template-columns: repeat(2, 1fr);
   padding: 30px 0 0px
   }

   .footer-item {
  width: 275px;
  }


.mobile-footer {
  display: none;
}



   .footer-logo img {
    float: right;
    position: relative;
    top: 62%;
   }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 2rem;
}


  .land-container img {
    width: 50%;
    }


.platform-img {
  margin-left: -30px;
}

  .summer-title h1 {
  font-size: 4rem;
    margin-top: 20px;
}

.section-1 {
  padding-top: 40px;
    width: 100%;
    height: 600px;

}


}


@media (min-width: 1200px){
.summer-title h1 {
    margin-top: -70px;
    font-size: 4.8rem;
  }

  .summer-title {
    margin-top: 30px;
  }

   #image {
left: -10px;
}

.platform-img {
margin-left: -45px;
}

.section-1 {
  padding-top: 0px;
}



}



@media only screen and (max-width: 991px) {


.land-container img {
    width: 80%;
}


    .summer-title h1 {
    margin-top: -35px;
    font-size: 4.5rem;
    margin-bottom: 0;
}



  .grid-container {
  padding: 60px 0px;
}

.grid-container-footer {
  padding: 30px 0 0px;
  width: 100%;
}

.footer-title, .footer-desc {
  text-align: center;
}

.footer-logo, .socials {
  text-align: center;
}

.footer-desc {
  padding: 0 25px;
}

.socials {
  padding-top: 0;
}

.footer-logo img {
  padding-top: 20px;
}

.footer-logo p {
  padding-top: 10px;
}

.twitter, .instagram {
  padding-right: 20px;
}



  }


@media only screen and (max-width: 768px) {



.stars-cont {

top: -210px;
  }



}


.bounce {
        animation: bounce 450ms;
        animation-timing-function: linear;
    }

@keyframes bounce{
  25%{transform: scale(1.15);}
  50%{transform: scale(0.9);}
  75%{transform: scale(1.1);}
  100%{transform: scale(1.0);}
}

@media only screen and (max-width: 767px) {

           #grid-left { grid-area: grid-left; }
#grid-center { grid-area: grid-center; }

 .grid-container {
    grid-template-areas: " grid-left " " grid-center ";
    padding: 0 0 60px 0;
  }



  .land-container img {
  width: 100%;
  margin-top: 20px;
}

#image {
  left: -15px;
}


.summer-title h1 {
    margin-top: -15px;
    font-size: 4rem;
    margin-bottom: 0;
  }

  .section-1 {
    height: 663px;
  }

  .platform-img {
    margin-left: -60px;
}

}

@media only screen and (max-width: 650px) {


.platform-img {
  margin-left: -50px;
  }

  .summer-title h1 {
    margin-top: 0px;
}
}



@media only screen and (max-width: 499px) {

             .mobile {
  display: block;
}

.desktop {
display: none;
}


h1 {
  font-size: 3rem !important;
}





.summer-title h1 {
  margin-top: 45px;
  }

  .rated-text {
    font-size: 22px !important;


}

.platform-img {
    margin-left: -60px !important;
}

#summer-img {
  width: 215px;
top:-570px;

}

.section-1 {
  width: 100%;
  height: 630px;
}
}

@media only screen and (max-width: 400px) {

  #summer-img {
    width: 215px;
    top: -880px;
}

.section-1 {
  width: 100%;
  height: 590px;
}

.platform-img {
    margin-top: 205px;
    }

h1 {
  font-size: 3rem !important;
  margin-bottom: 0;
  text-shadow: 0px 2px 4px #999;
}

.summer-title h1 {
  margin-top: 60px;
}
}

